<!DOCTYPE html>
<html>
  <head>
    <title>💬 Straight Chat</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
